@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
:root {
    --main-color: rgb(35, 128, 32);
    --secondary-color: rgb(201, 247, 196);
}

html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--secondary-color);
}
body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
h2 {
    margin: 0.1%;
    padding: 0;
    color: var(--main-color);  
}
p {
    margin: 0.1%;
    padding: 0;
    text-align: justify;
    text-indent: 1.5em;
    font-size: 1.03em;
}
ul {
    margin: 1%;
    padding: 0;    
}

ul>li {
    list-style-type: square;
    margin-left: 2vh;
}
header > h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: var(--secondary-color);
    border: 1px solid #0a6819;
    box-shadow: -8px 8px 2px 1px rgba(35, 128, 32, 0.2);
    background-color: var(--main-color);
    margin-bottom: 1%;
}

.name {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}

.img-container {
    display: block;
    position: relative;
    float: left;
    width: 233px;
    height: 270px;
    background-image: url(assets/img.jpg);
    background-repeat: no-repeat;
    margin-right: 1%;
    border: 0.25em solid var(--main-color);
    box-shadow: -8px 8px 2px 1px rgba(35, 128, 32, 0.2);
    
}
.info-top {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 15%;
    align-items: center;
}
.info-top > ul {
    margin-right: 5%;
}

.flex-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 1%;

}
.flex-wrap>article {
    background-color: rgb(221, 253, 218);
    padding: 0em 2em 0em 2em;
}
code {
    background-color: inherit;
    font-size: 1.3em;
}